
@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

/* this is a comment*/
/* CSS syntax:
  selector {property:value;
  } 
  */
  
  
p {
  font-size: 1em;
  line-height: 1.5em; 
}

figcaption{
  color: #777;
  text-align:right;
  font:normal 0.75em/1.5em "elsie swash caps", cursive;
}

.milk-text{
  font:bold 2.6em "elsie swash caps", cursive;
  color:white;
  text-shadow: 0 2px 2px #000;
}