/* this is a comment*/
/* CSS syntax:
  selector {property:value;
  } 
  */
  
p {
  font-size: 1em;
  line-height: 1.5em; 
}

figcaption{
  color: #777;
  text-align:right;
  font:normal 0.75em/1.5em Georgia, "Times New Roman", serif;
}